body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #e2efec;
}

header {
  background: #48703d;
  color: rgb(6, 42, 13);
  padding: 10px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  display: flex;
  gap: 15px;
}

nav ul li a {
  color: rgb(14, 222, 93);
  text-decoration: none;
}

.container {
  display: flex;
}

aside {
  width: 250px;
  background: #92d58a;
  padding: 10px;
}

main {
  flex: 1;
  padding: 15px;
  background: white;
}

section {
  margin-bottom: 20px;
}

footer {
  background: #48703d;
  color: rgb(6, 42, 13);
  text-align: center;
  padding: 10px;
}
