body {
    background-color: #f7faff;
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
}

main {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 2px 12px #0001;
    padding: 2rem;
    max-width: 460px;
    margin: 2.5rem auto;
}

h1 {
    text-align: left;
    color: #1453ac;
    margin-bottom: 1.2rem;
    font-weight: 700;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 0.3rem;
}

input, select, button, textarea {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1.5px solid #e2e2e2;
    transition: border 0.2s, box-shadow 0.2s;
    outline: none;
    margin-bottom: 0.2rem;
}

input:focus, select:focus, textarea:focus {
    border: 1.5px solid #2572ea;
    box-shadow: 0 2px 9px #2572ea22;
    outline: none;
}

button {
    background: #2572ea;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 9px;
    padding: 0.8rem 0;
    font-size: 1.10rem;
    cursor: pointer;
    margin-top: 22px;
    transition: background .2s;
    box-shadow: 0 2px 10px #2572ea25;
}

button:hover {
    background: #1453ac;
}

@media (max-width: 700px) {
    main {
        padding: 1rem;
        margin: 1rem;
        box-shadow: none;
    }
}
