body {
    font-family:'Courier New', Courier, monospace;
    background: #e3d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    width: 350px;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
}

div {
    margin: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input:focus, textarea:focus {
    border-color: #be00cc;
    outline: 2px solid #c774a7;
}

small {
    display: block;
    margin-top: 3px;
    font-size: 0.85em;
    color: #666;
}

button {
    background: #8b1689;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

button:hover {
    background: #540235;
}

button:focus {
    outline: 2px solid #4d1a6a;
}