body {
  background: #f3fafd;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #183b4a;
}
h1 {
  text-align: center;
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
  color: #1162a0;
}
.grid-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  max-width: 950px;
  margin: 2rem auto;
}
.tarjeta {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 16px #22649920;
  padding: 1.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: box-shadow .28s, transform .28s;
}
.tarjeta img {
  width: 108px;
  border-radius: 50%;
  box-shadow: 0 2px 14px #4096c320;
  margin-bottom: 1rem;
}
.informacion {
  text-align: center;
}
.informacion h2 { margin-bottom: .2rem; color: #0775e5; }
.informacion p { margin-bottom: .8rem; color: #2d4490; }
.redes {
  display: flex; justify-content: center; gap: 15px;
}
.redes a svg { vertical-align: middle;}
